body {
  background: #0f0e09;

  color: WhiteSmoke;

  font-size: 25px;

  font-family: Helvetica;
}

p {
  font-size: 1.5rem;
}
h1 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;

  color: red;

  font-weight: lighter;

  font-size: 10px;
}

h2 {
  font-family: Courier;

  color: WhiteSmoke;

  font-weight: lighter;

  font-size: 3rem;
  margin: 2rem;
  margin-left: 0;
}

a {
  color: yellow;
}

a:hover {
  text-decoration: none;

  color: purple;
}

#banner {
  text-align: center;

  background-image: url(./images/restaurante.jpg);

  background-size: cover;

  padding: 150px;

  color: white;

  text-shadow: 1px 1px 5px black;
}

#banner h1 {
  color: white;

  font-size: 50px;
}

#banner p {
  color: white;

  opacity: 0.8;

  font-size: 30px;

  font-weight: lighter;
}

#footer {
  padding: 30px;

  background: rgb(30, 30, 30);

  color: lightgrey;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-button {
  background-color: OliveDrab;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.nav-button:hover {
  color: silver;
  background-color: olive;
  transition: 1s;
}

.tarjeta {
  padding: 2rem;
  margin: 0rem;
  width: 100%;
}
.tarjeta button {
  float: left;
  width: 16rem;
  height: 16rem;
  margin-bottom: 2rem;
  margin-right: 2rem;
}
#footer a {
  color: lightgrey;

  font-size: 25px;
}

#footer a:hover {
  color: white;
}

.row {
  background-color: whitesmoke;
}
