table,
tr,
td {
  border: 1px solid azure;
  border-collapse: collapse;
}

table {
  width: 80%;
  background-color: black;
}
tr,
td {
  color: azure;
  width: 80%;
}

body {
  background: #0f0e09;
  color: WhiteSmoke;
  font-size: 25px;
  font-family: Helvetica;
}

h1 {
  color: azure;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: lighter;
  font-size: 50px;
}
h2 {
  color: azure;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 40px;
}

#banner {
  text-align: center;

  background-image: url(./images/restaurante.jpg);
  height: 100%;
  background-size: cover;

  padding: 150px;

  color: white;

  text-shadow: 1px 1px 5px black;
}

#banner h1 {
  color: white;

  font-size: 50px;
}

#banner p {
  color: white;

  opacity: 0.8;

  font-size: 30px;

  font-weight: lighter;
}

#footer {
  padding: 30px;

  background: rgb(30, 30, 30);

  color: lightgrey;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav {
  position: relative;
  width: 100%;
  background-color: OliveDrab;
}

.nav-button {
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.nav-button:hover {
  color: silver;
  background-color: olive;
  transition: 1s;
}

#footer a {
  color: lightgrey;

  font-size: 25px;
}

#footer a:hover {
  color: white;
}

.row {
  background-color: whitesmoke;
}

input {
  font-size: 18px;
  background-color: black;
  color: whitesmoke;
}

.menu-label {
  font-size: 18px;
  padding: 10px;
}

input[type="number"] {
  float: right;
  width: 100%;
}

legend {
  color: whitesmoke;
}
